<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout">
	<head>
		<title>Create an Order</title>
  	</head>
	<body class="white">
		<main layout:fragment="content" class="container">
			<div class="row">
				<form class="col s12" method="post" th:object="${order}" th:action="@{/orders}">
					<div class="row">
						<div class="input-field col s12">
							<input th:field="*{quantity}" id="quantity" type="number" autofocus="autofocus" />
							<label for="quantity">Quantity</label>
						</div>
						<div class="input-field col s12">
							<select name="customer.id">
								<option value="" disabled="disabled" selected="selected">Choose a customer</option>
								<option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.lastName + ', ' + customer.firstName}">last name, first name</option>
							</select>
							<label>Customer</label>
						</div>
						<div class="input-field col s12">
							<select name="product.id">
								<option value="" disabled="disabled" selected="selected">Choose a product</option>
								<option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}">product name</option>
							</select>
							<label>Product</label>
						</div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Create this order
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</main>
	</body>
</html>