<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout">
	<head>
		<title>Create a Product</title>
  	</head>
	<body class="white">
		<main layout:fragment="content" class="container">
			<div class="row">
				<form class="col s12" method="post" th:object="${product}" th:action="@{/products}">
					<div class="row">
						<div class="input-field col s6">
							<input th:field="*{name}" id="name" type="text" autofocus="autofocus" />
							<label for="name">Name</label>
						</div>
						<div class="input-field col s6">
							<input th:field="*{description}" id="description" type="text" class="validate"/>
							<label for="description">Description</label>
						</div>
						<div class="input-field col s6">
							<input th:field="*{price}" id="price" type="number" class="validate"/>
							<label for="price">Price</label>
						</div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Create this product
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</main>
	</body>
</html>