<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout">
	<head>
		<title>Edit a Person</title>
  	</head>
	<body class="white">
		<main layout:fragment="content" class="container">
			<div class="row">
				<form class="col s12" method="post" th:object="${person}" th:action="@{/people/{id}(id=${person.id})}">
					<input type="hidden" name="_method" value="put"/>
					<div class="row">
						<div class="input-field col s6">
							<input th:field="*{firstName}" id="first_name" type="text" autofocus="autofocus" />
							<label for="first_name">First Name</label>
						</div>
						<div class="input-field col s6">
							<input th:field="*{lastName}" id="last_name" type="text" class="validate"/>
							<label for="last_name">Last Name</label>
						</div>
						<button class="btn waves-effect waves-light" type="submit" name="action">Update this person
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</main>
	</body>
</html>