<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="common/layout">
	<head>
		<title>Home</title>
  	</head>
	<body>
		<main layout:fragment="content" class="container">
			<div class="row">
				<div class="col s12 m6">
					<div class="card white">
						<div class="card-content">
							<span class="card-title">People: <span th:text="${people.size()}"></span></span>
						</div>
						<div class="card-action">
							<a th:href="@{/people}">View Them</a>
							<a th:href="@{/people/new}">Create a Person</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="card white">
						<div class="card-content">
							<span class="card-title">Products: <span th:text="${products.size()}"></span></span>
						</div>
						<div class="card-action">
							<a th:href="@{/products}">Browse</a>
							<a th:href="@{/products/new}">Create a Product</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>